In [70]:
# Import the libraries and dependencies
import pandas as pd
import hvplot.pandas
from pathlib import Path
import json
from dotenv import load_dotenv
import os
from forex_python.converter import CurrencyRates      #install new library: pip install forex-python
import warnings
warnings.simplefilter(action='ignore', category=Warning)

In [71]:
# creating a DataFrame 
# by importing the excel files from the Resource folder and review 5 first lines
clients_df = pd.read_excel(
    Path("../PROJECT 1/CLIENTS.xlsx")
)
display(clients_df.head())

# creating a DataFrame 
banks_df = pd.read_excel(
    Path("../PROJECT 1/BANKS.xlsx")
)
display(banks_df.head())
# creating a DataFrame 
statement_df = pd.read_excel(
    Path("../PROJECT 1/BANKSTATEMENT.xlsx")
)
display(statement_df.head())

,Client_id (PK),SSN,Gender,Marital status,First Name,Last Name,Address,City,State,Zip
0,1103093,123-982345,M,MARRIED,John,Dewalt,124 Colambia st,Clyde,NY,14433
1,1230395,345-765123,F,MARRIED,Gabby,McKate,987 S White Station Rd,Memphis,TN,38117
2,2981234,645-678345,F,MARRIED,Jane,Goodwill,2360 US-31W,White House,TN,37188
3,3767123,345-987234,M,MARRIED,Jack,Daniels,9850 Oak dr,Steilacoom,WA,98388
4,4523435,234-456688,M,MARRIED,Jack,Ma,9876 Rea Rd,Charlotte,NC,28277

,ABA Number (PK),Bank_Name,Address,City,State,Zip
0,21000018,BANK OF NEW YORK MELLON,500 ROSS ST.,PITTSBURGH,PA,15262
1,124085260,Goldman Sachs Bank,111 S Main St,SALT LAKE CITY,UT,84111
2,84201278,US Bancorp,800 Nicollet Mall,Minneapolis,MN,55402
3,11103093,TD Bank,P.O. BOX 1377,LEWISTON,ME,4240

,Client_id (PK),ABA_Number (FK),Account_Number,Transaction_date,Transaction_Currency,Transaction_amount,Available_Balance_USD,Available_Balance_EUR,Available_Balance_YEN,Closing_Balance
0,1103093,84201278,201095927,10/29/22,USD,"+3,750.00",1050,0.0,0.0,4800
1,1230395,84201278,201095928,10/15/22,USD,-800.00,7200,0.0,0.0,6400
2,2981234,84201278,201095929,2022-11-10 00:00:00,USD,-179.00,45179,1000.0,0.0,45000
3,3767123,84201278,201095930,10/16/22,USD,+7500.00,8500,0.0,0.0,16000
4,4523435,84201278,201095931,2022-10-10 00:00:00,USD,+5500.00,300,0.0,0.0,5800

In [19]:
# Create a connection to the database
#engine = create_engine("postgresql://postgres:postgres@localhost:5432/Project_1_test")
#engine
load_dotenv()

True

In [72]:
#checking current currency rates
cr = CurrencyRates()
eur = cr.get_rate('EUR', 'USD')
yen = cr.get_rate('JPY', 'USD')
print(eur)
print(yen)

0.9947
0.006796720191322173

In [79]:
#transfer EUR and YEN to USD than adding to Client Closing Balance
client_eur = (statement_df["Available_Balance_EUR"])
eur_value = eur * client_eur
client_yen = (statement_df["Available_Balance_YEN"])
yen_value = yen * client_eur
statement_df["Available_Balance_YEN"] = yen_value
statement_df["Available_Balance_EUR"] = eur_value
column_names = ['Closing_Balance ', 'Available_Balance_YEN', 'Available_Balance_EUR']
statement_df['Closing_Balance ']= statement_df[column_names].sum(axis=1)
print(statement_df)

    Client_id (PK)  ABA_Number (FK)  Account_Number    Transaction_date   \
0          1103093         84201278       201095927             10/29/22
1          1230395         84201278       201095928             10/15/22
2          2981234         84201278       201095929  2022-11-10 00:00:00
3          3767123         84201278       201095930             10/16/22
4          4523435         84201278       201095931  2022-10-10 00:00:00
..             ...              ...             ...                  ...
75        13452547         11103093       101095942             10/26/22
76        34757246         11103093       101095943             10/22/22
77        13465643         11103093       101095944             10/30/22
78        34566345         11103093       101095945             10/19/22
79        22456246         11103093       101095946  2022-12-10 00:00:00

   Transaction_Currency Transaction_amount  Available_Balance_USD  \
0                   USD          +3,750.00                   1050
1                   USD            -800.00                   7200
2                   USD            -179.00                  45179
3                   USD           +7500.00                   8500
4                   USD           +5500.00                    300
..                  ...                ...                    ...
75                  USD           +1600.00                5500000
76                  USD          +25000.00                1900000
77                  USD          -10000.00                  70000
78                  USD           +3000.00                   1000
79                  USD            -500.00                   4000

    Available_Balance_EUR  Available_Balance_YEN  Closing_Balance
0                0.000000               0.000000      4.800000e+03
1                0.000000               0.000000      6.400000e+03
2              963.484707               6.583428      4.894282e+04
3                0.000000               0.000000      1.600000e+04
4                0.000000               0.000000      5.800000e+03
..                    ...                    ...               ...
75          192696.941367            1316.685626      6.290165e+06
76          134887.858957             921.679938      2.476995e+06
77             963.484707               6.583428      6.394282e+04
78               0.000000               0.000000      4.000000e+03
79               0.000000               0.000000      3.500000e+03

[80 rows x 10 columns]

In [135]:
#Create a numerical aggregation that groups the data by the ABA number and Closing Balance, then averages the results.
bank_amount  = statement_df[["ABA_Number (FK)", "Closing_Balance "]]
bank_sum = bank_amount.groupby('ABA_Number (FK)').sum()
print(bank_sum)

                 Closing_Balance
ABA_Number (FK)
11103093             1.043768e+07
21000018             1.441420e+06
84201278             2.414779e+05
124085260            9.685359e+05

In [168]:
#Replace ABA number to bank Name from the data base
bank_names = banks_df.loc[:, banks_df.columns.intersection(['ABA Number (PK)','Bank_Name'])]
bank_balance_df = pd.merge(bank_names, bank_sum, how="cross")
#balances_df = bank_balance_df.groupby('Bank_Name').sum()

print(bank_balance_df)
#bank_sum = bank_sum.replace({0: 10, 1: 100})pd.merge(left, right, how="cross")

    ABA Number (PK)                Bank_Name  Closing_Balance
0          21000018  BANK OF NEW YORK MELLON      1.043768e+07
1          21000018  BANK OF NEW YORK MELLON      1.441420e+06
2          21000018  BANK OF NEW YORK MELLON      2.414779e+05
3          21000018  BANK OF NEW YORK MELLON      9.685359e+05
4         124085260       Goldman Sachs Bank      1.043768e+07
5         124085260       Goldman Sachs Bank      1.441420e+06
6         124085260       Goldman Sachs Bank      2.414779e+05
7         124085260       Goldman Sachs Bank      9.685359e+05
8          84201278               US Bancorp      1.043768e+07
9          84201278               US Bancorp      1.441420e+06
10         84201278               US Bancorp      2.414779e+05
11         84201278               US Bancorp      9.685359e+05
12         11103093                  TD Bank      1.043768e+07
13         11103093                  TD Bank      1.441420e+06
14         11103093                  TD Bank      2.414779e+05
15         11103093                  TD Bank      9.685359e+05

In [84]:

# Creating a visual aggregation explore the total amount of client money in the bank

bank_sum.hvplot.bar(    
    x="ABA_Number (FK)",
    y="Closing_Balance "
).opts (
    yformatter = '%.0f'
       
)

:Bars   [ABA_Number (FK)]   (Closing_Balance )