In [14]:
# Import the libraries and dependencies
import pandas as pd
import hvplot.pandas
from pathlib import Path
import json
from dotenv import load_dotenv
import os
from forex_python.converter import CurrencyRates      #install new library: pip install forex-python
import warnings
warnings.simplefilter(action='ignore', category=Warning)

In [15]:
# creating a DataFrame 
# by importing the excel files from the Resource folder and review 5 first lines
clients_df = pd.read_excel(
    # Path("../PROJECT 1/CLIENTS.xlsx")
    Path("./CLIENTS.xlsx")
)
display(clients_df.head())

# creating a DataFrame 
banks_df = pd.read_excel(
    # Path("../PROJECT 1/BANKS.xlsx")
    Path("./BANKS.xlsx")
)
display(banks_df.head())
# creating a DataFrame 
statement_df = pd.read_excel(
    # Path("../PROJECT 1/BANKSTATEMENT.xlsx")
    Path("./BANKSTATEMENT_SUMMARY.xlsx")
)
display(statement_df.head())

,Client_ID,SSN,Gender,Marital_Status,First_Name,Last_Name,Address,City,State,Zip
0,1103093,123-982345,M,MARRIED,John,Dewalt,124 Columbia St,Clyde,NY,14433
1,1230395,345-765123,F,MARRIED,Gabby,McKate,987 S White Station Rd,Memphis,TN,38117
2,2981234,645-678345,F,MARRIED,Jane,Goodwill,2360 US-31W,White House,TN,37188
3,3767123,345-987234,M,MARRIED,Jack,Daniels,9850 Oak Dr,Steilacoom,WA,98388
4,4523435,234-456688,M,MARRIED,Jack,Ma,9876 Rea Rd,Charlotte,NC,28277

,ABA_Number,Bank_Name,Address,City,State,Zip
0,21000018,BANK OF NEW YORK MELLON,500 ROSS ST.,PITTSBURGH,PA,15262
1,124085260,Goldman Sachs Bank,111 S Main St,SALT LAKE CITY,UT,84111
2,84201278,US Bancorp,800 Nicollet Mall,Minneapolis,MN,55402
3,11103093,TD Bank,P.O. BOX 1377,LEWISTON,ME,4240

,Client_ID,ABA_Number,Account_Number,Month_Date,Account_Ccy,Closing_Balance,Available_Balance_USD,Available_Balance_EUR,Available_Balance_YEN
0,1103093,84201278,201095927,2022-10-01,USD,4800,1050,NaN,NaN
1,1230395,84201278,201095928,2022-10-02,USD,6400,7200,NaN,NaN
2,2981234,84201278,201095929,2022-10-03,USD,45000,45179,NaN,NaN
3,3767123,84201278,201095930,2022-10-04,USD,16000,8500,NaN,NaN
4,4523435,84201278,201095931,2022-10-05,USD,5800,300,NaN,NaN

In [16]:
# Create a connection to the database
#engine = create_engine("postgresql://postgres:postgres@localhost:5432/Project_1_test")
#engine
load_dotenv()

True

In [17]:
#checking current currency rates
cr = CurrencyRates()
eur = cr.get_rate('EUR', 'USD')
yen = cr.get_rate('JPY', 'USD')
print(eur)
print(yen)

0.9872
0.006799366347544597

In [18]:
#transfer EUR and YEN to USD than adding to Client Closing Balance
client_eur = (statement_df["Available_Balance_EUR"])
eur_value = eur * client_eur
client_yen = (statement_df["Available_Balance_YEN"])
yen_value = yen * client_eur
statement_df["Available_Balance_YEN"] = yen_value
statement_df["Available_Balance_EUR"] = eur_value
column_names = ['Closing_Balance ', 'Available_Balance_YEN', 'Available_Balance_EUR']
statement_df['Closing_Balance ']= statement_df[column_names].sum(axis=1)
print(statement_df)

    Client_ID  ABA_Number  Account_Number Month_Date  Account_Ccy  \
0     1103093    84201278       201095927  2022-10-01         USD
1     1230395    84201278       201095928  2022-10-02         USD
2     2981234    84201278       201095929  2022-10-03         USD
3     3767123    84201278       201095930  2022-10-04         USD
4     4523435    84201278       201095931  2022-10-05         USD
5     3523455    84201278       201095932  2022-10-06         USD
6     3423455    84201278       201095933  2022-10-07         USD
7     3234343    84201278       201095934  2022-10-08         USD
8     4633567    84201278       201095935  2022-10-09         USD
9     5685734    84201278       201095936  2022-10-10         USD
10    4563456    84201278       201095937  2022-10-11         USD
11    5845673    84201278       201095938  2022-10-12         USD
12    2345345    84201278       201095939  2022-10-13         USD
13    4234645    84201278       201095940  2022-10-14         USD
14    4573534    84201278       201095941  2022-10-15         USD
15    3452547    84201278       201095942  2022-10-16         USD
16    4757246    84201278       201095943  2022-10-17         USD
17    3465643    84201278       201095944  2022-10-18         USD
18    4566345    84201278       201095945  2022-10-19         USD
19    2456246    84201278       201095946  2022-10-20         USD
20   51103093   124085260       211095927  2022-10-21         USD
21   51230395   124085260       211095928  2022-10-22         USD
22   52981234   124085260       211095929  2022-10-23         USD
23   53767123   124085260       211095930  2022-10-24         USD
24   54523435   124085260       211095931  2022-10-25         USD
25   53523455   124085260       211095932  2022-10-26         USD
26   53423455   124085260       211095933  2022-10-27         USD
27   53234343   124085260       211095934  2022-10-28         USD
28   54633567   124085260       211095935  2022-10-29         USD
29   55685734   124085260       211095936  2022-10-30         USD
30   54563456   124085260       211095937  2022-10-31         USD

    Closing_Balance   Available_Balance_USD  Available_Balance_EUR  \
0             4800.0                   1050                    NaN
1             6400.0                   7200                    NaN
2            45000.0                  45179                    NaN
3            16000.0                   8500                    NaN
4             5800.0                    300                    NaN
5             6000.0                   7000                    NaN
6             1108.0                    908                    NaN
7             2100.0                   1200                    NaN
8              640.0                     90                    NaN
9             2000.0                   1000                    NaN
10           21600.0                   6600                    NaN
11           10000.0                  20000                    NaN
12             700.0                    500                    NaN
13             500.0                    700                    NaN
14             800.0                   1800                    NaN
15           56600.0                  55000                    NaN
16           44000.0                  19000                    NaN
17            6000.0                   7000                    NaN
18            3100.0                    100                    NaN
19              50.0                    550                    NaN
20           14800.0                  11050                    NaN
21           17000.0                  17800                    NaN
22          145000.0                 145179                    NaN
23           26000.0                  18500                    NaN
24            6800.0                   1300                    NaN
25            7000.0                  17000                    NaN
26            2108.0                   1908                    NaN
27           12100.0                  11200                    NaN
28             740.0                    190                    NaN
29           12000.0                  11000                    NaN
30           31600.0                  16600                    NaN

    Available_Balance_YEN
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
5                     NaN
6                     NaN
7                     NaN
8                     NaN
9                     NaN
10                    NaN
11                    NaN
12                    NaN
13                    NaN
14                    NaN
15                    NaN
16                    NaN
17                    NaN
18                    NaN
19                    NaN
20                    NaN
21                    NaN
22                    NaN
23                    NaN
24                    NaN
25                    NaN
26                    NaN
27                    NaN
28                    NaN
29                    NaN
30                    NaN

In [19]:
#Create a numerical aggregation that groups the data by the ABA number and Closing Balance, then averages the results.
bank_amount  = statement_df[["ABA_Number (FK)", "Closing_Balance "]]
bank_sum = bank_amount.groupby('ABA_Number (FK)').sum()
print(bank_sum)

KeyError: "['ABA_Number (FK)'] not in index"

In [ ]:
#Replace ABA number to bank Name from the data base
bank_names = banks_df.loc[:, banks_df.columns.intersection(['ABA Number (PK)','Bank_Name'])]
bank_balance_df = pd.merge(bank_names, bank_sum, how="cross")
#balances_df = bank_balance_df.groupby('Bank_Name').sum()

print(bank_balance_df)
#bank_sum = bank_sum.replace({0: 10, 1: 100})pd.merge(left, right, how="cross")

    ABA Number (PK)                Bank_Name  Closing_Balance
0          21000018  BANK OF NEW YORK MELLON      9.038612e+06
1          21000018  BANK OF NEW YORK MELLON      1.243996e+06
2          21000018  BANK OF NEW YORK MELLON      2.352854e+05
3          21000018  BANK OF NEW YORK MELLON      7.848242e+05
4         124085260       Goldman Sachs Bank      9.038612e+06
5         124085260       Goldman Sachs Bank      1.243996e+06
6         124085260       Goldman Sachs Bank      2.352854e+05
7         124085260       Goldman Sachs Bank      7.848242e+05
8          84201278               US Bancorp      9.038612e+06
9          84201278               US Bancorp      1.243996e+06
10         84201278               US Bancorp      2.352854e+05
11         84201278               US Bancorp      7.848242e+05
12         11103093                  TD Bank      9.038612e+06
13         11103093                  TD Bank      1.243996e+06
14         11103093                  TD Bank      2.352854e+05
15         11103093                  TD Bank      7.848242e+05

In [ ]:

# Creating a visual aggregation explore the total amount of client money in the bank

bank_sum.hvplot.bar(    
    x="ABA_Number (FK)",
    y="Closing_Balance "
).opts (
    yformatter = '%.0f'
       
)

:Bars   [ABA_Number (FK)]   (Closing_Balance )